<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h1>View Photo</h1>
<form action="#" th:object="${image}" method="post">
Title:
    <span th:text="${image}">name</span>
<img alt="sample" th:src="*{'data:image/png;base64,'+image}" />
<!--    <img th:src="@{${'/photos/' + image.id}}">-->
<!--    <img  th:src="@{'data:image/jpeg;base64,'+${sb.encodedString}}" />-->


<!--    <div class="col-sm-3 my-2 d-flex align-content-stretch flex-wrap" th:each="product : ${products}">-->
<!--                <img class="card-img-top" th:src="@{'product/image/' + @{product.image}}">-->
        </div>
</form>
</body>
</html>

<!--th:action="@{/save}"-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create new Product</title>-->
<!--</head>-->
<!--<body>-->
<!--<div align="center">-->
<!--    <h1>Create New PHOTUUUUUUU</h1>-->
<!--    <br/>-->
<!--    -->
<!--    -->
<!--    <form action="#" th:action="@{/save}" th:object="${product}" method="post">-->
<!--        <table border="0" cellpadding="10">-->
<!--            <tr>-->
<!--                <td>PRODUCT NAME : </td>-->
<!--                <td><input type="text" th:field="*{name}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>BRAND : </td>-->
<!--                <td><input type="text" th:field="*{brand}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Made In : </td>-->
<!--                <td><input type="text" th:field="*{madein}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>PRICE : </td>-->
<!--                <td><input type="text" th:field="*{price}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2"><button type="submit">SAVE</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->


<!--</div>-->
<!--</body>-->
<!--</html>-->