<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product Manager</h1>
    <a href="new">Create New Product</a>
    <a href="old">Search Product by id to edit</a>
    <a href="med">Search Product by id to DELETE</a>
    <a href="rishabh">Upload Photu...!</a>
<br/>
    <a th:href="@{https://attacomsian.com/about}">About Me</a>
<br/>

<!--    <a href="direct.html" th:href="@{/directed}">Product CHOMUUU</a>-->

<!--    <a th:href="@{C:/Users/admin/Desktop/desktop_S/thymeleaf-spring-boot/Hanuman/src/main/resources/templates/direct.html}">-->
    <a href="@{direct.html}">
        Direct...!</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>MadeIn</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product Id</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made In</td>
            <td th:text="${product.price}">Price</td>
            <td>
                <a th:href="@{'/edit/' + ${product.id}}">EDIT</a>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a th:href="@{'/delete/' + ${product.id}}">DELETE</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>